# Allow NFC service to be found
allow platform_app nfc_service:service_manager find;

# Allow FastCharge HAL service to be found
hal_client_domain(platform_app, hal_lineage_fastcharge)

# Allow LiveDisplay HAL service to be found
hal_client_domain(platform_app, hal_lineage_livedisplay)

# Allow PowerShare HAL service to be found
hal_client_domain(platform_app, hal_lineage_powershare)

# Allow Touch HAL service to be found
hal_client_domain(platform_app, hal_lineage_touch)

# Allow systemui to read/set system boost props
set_prop(platform_app, system_prop);
get_prop(platform_app, system_prop);

# Allow platform_app to access zram nodes
r_dir_file(platform_app, sysfs_zram)
